<?xml version="1.0"?>
<ProjectOptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" identifier="CS">
  <GeneralOptions>
    <Increment>Build</Increment>
    <HandleIncrementOverflow>false</HandleIncrementOverflow>
  </GeneralOptions>
  <MsBuildOptions>
    <Usage>
      <Optimize useage="None" value="false" />
      <DebugConstants useage="None" />
      <DebugInfo useage="None" />
    </Usage>
  </MsBuildOptions>
  <NuGetOptions>
    <GeneralOptions>
      <DependencyUsage>Any</DependencyUsage>
    </GeneralOptions>
    <NuSpecOptions>
      <Metadata>
        <Id>MoosetrailAngularCore</Id>
        <Version>1.0.0</Version>
        <Title>Moosetrail Angular Core</Title>
        <Authors>Moosetrail Software</Authors>
        <Owners>Moosetrail Software</Owners>
        <Description>A core to work with basic functions in angulare shared between projects</Description>
        <ReleaseNotes>false</ReleaseNotes>
        <Summary>false</Summary>
        <Language use="false" saveBack="false" />
        <ProjectUrl>false</ProjectUrl>
        <IconUrl>false</IconUrl>
        <LicenseUrl>false</LicenseUrl>
        <Copyright use="false" saveBack="false" />
        <Tags>false</Tags>
        <RequireLicenseAcceptance>false</RequireLicenseAcceptance>
        <DevelopmentDependency>false</DevelopmentDependency>
        <Dependencies>false</Dependencies>
      </Metadata>
      <files>
        <file src="angular-moosetrail-core.js" target="scripts"/>
        <file src="angular-moosetrail-core.min.js" target="scripts"/>
        <file src="Core/**/*.ts" target="MoosetrailCore"/>
      </files>
    </NuSpecOptions>
  </NuGetOptions>
</ProjectOptions>